<!DOCTYPE html>
<html>
	<head>
		<title>Acme</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
	</head>
	<body>
		<div class='container'>
			<h1>Acme</h1>
			<ul style="margin-bottom: 10px" class="nav nav-tabs">
		        <li class="{{homeClass}}"><a href="/">Home</a></li>
		        <li class="{{productClass}}"><a href="/products">Products</a></li>
	      	</ul>
			{% block content %}
			{% endblock %}
		</div>
		<footer class="footer">
      		<div class="container">
           		<span class="text-muted pull-right">Created by BobbyVee, Fullstack Academy</span>
      		</div>
    	</footer>
	</body>
</html>